<%- include('partials/header2') %>
<form action="/updateProfile" method="post">
  <section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="/user">Home</a></li>
              <li class="breadcrumb-item"><a href="/profile">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
            </ol>
          </nav>
        </div>
      </div>
      <h3 class="upt-profile-alert">Please Complete Your Profile to Find Schemes for you</h3>
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"><%= userData[0].FullName %> </h5>
              <!-- <p class="text-muted mb-1">Full Stack Developer</p>
              <p class="text-muted mb-4">Bay Area, San Francisco, CA</p> -->
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary">Edit Profile</button>
                <!-- <button type="button" class="btn btn-outline-primary ms-1">Message</button> -->
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fa-duotone fa-vault"></i>
                  <button type="button" class="btn btn-outline-primary">Link DigiLocker</button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-whatsapp fa-lg" style="color: #4FCE5D;"></i>
                  <button type="button" class="btn btn-outline-primary">Link Whatsapp</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <input name="fullname" type="text" class="form-control" placeholder="first name"
                    value="<%= userData[0].FullName %> ">
                  <!-- <p class="text-muted mb-0">Johnatan Smith</p> -->
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <input name="email" type="text" class="form-control" placeholder="enter email id"
                    value="<%= userData[0].EmailID %>">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <input name="phoneNumber" type="text" class="form-control" placeholder="enter phone number"
                    value="<%= userData[0].Number %>" readonly="readonly">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Gender</p>
                </div>
                <div class="col-sm-9">
                  <% if(userData[0].Gender === "MALE"){ %>
                  <input name="gender" value="MALE" type="radio" checked> Male
                  <input name="gender" value="FEMALE" type="radio"> Female
                  <input name="gender" value="OTHER" type="radio"> Other
                  <% } else if(userData[0].Gender === "FEMALE") {%>
                  <input name="gender" value="MALE" type="radio"> Male
                  <input name="gender" value="FEMALE" type="radio" checked> Female
                  <input name="gender" value="OTHER" type="radio"> Other
                  <% } else if(userData[0].Gender === "OTHER") {%>
                  <input name="gender" value="MALE" type="radio"> Male
                  <input name="gender" value="FEMALE" type="radio"> Female
                  <input name="gender" value="OTHER" type="radio" checked> Other
                  <% } else {%>
                  <input name="gender" value="MALE" type="radio"> Male
                  <input name="gender" value="FEMALE" type="radio"> Female
                  <input name="gender" value="OTHER" type="radio"> Other
                  <% } %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Date of Birth</p>
                </div>
                <div class="col-sm-9">
                  <input name="dateOfBirth" type="date" id="time_start" class="form-control"
                    placeholder="enter date of birth" value="<%= userData[0].DOB %>" required>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Education</p>
                </div>
                <div class="col-sm-9">
                  <select class="form-control" name="education">
                    <% if(userData[0].Education === "Un-educated"){ %>
                    <option value="Un-educated">Un-educated</option>
                    <option value="Matric">Matric</option>
                    <option value="Inter">Inter</option>
                    <option value="Graduate">Graduate</option>
                    <% } else if(userData[0].Education === "Matric") {%>
                    <option value="Matric">Matric</option>
                    <option value="Un-educated">Un-educated</option>
                    <option value="Inter">Inter</option>
                    <option value="Graduate">Graduate</option>
                    <% } else if(userData[0].Education === "Inter") {%>
                    <option value="Inter">Inter</option>
                    <option value="Un-educated">Un-educated</option>
                    <option value="Matric">Matric</option>
                    <option value="Graduate">Graduate</option>
                    <% } else if(userData[0].Education === "Graduate") {%>
                    <option value="Graduate">Graduate</option>
                    <option value="Un-educated">Un-educated</option>
                    <option value="Matric">Matric</option>
                    <option value="Inter">Inter</option>
                    <% } else{%>
                    <option value=""></option>
                    <option value="Un-educated">Un-educated</option>
                    <option value="Matric">Matric</option>
                    <option value="Inter">Inter</option>
                    <option value="Graduate">Graduate</option>
                    <% } %>
                  </select>
                  <!-- value="<%= userData[0].Education %>"> -->
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address Line 1</p>
                </div>
                <div class="col-sm-9">
                  <input name="addressline1" type="text" class="form-control" placeholder="enter address line 1"
                    value="<%= userData[0].AddressLine1 %>">
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address Line 2</p>
                </div>
                <div class="col-sm-9">
                  <input name="addressline2" type="text" class="form-control" placeholder="enter address line 2"
                    value="<%= userData[0].AddressLine2 %>">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Town/City</p>
                </div>
                <div class="col-sm-9">
                  <input id="myInput" name="town" type="text" class="form-control" placeholder="Select City"
                    value="<%= userData[0].Town %>">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Area</p>
                </div>
                <div class="col-sm-9">
                  <% if(userData[0].Area === "URBAN"){ %>
                  <input name="area" value="URBAN" type="radio" required checked> Urban
                  <input name="area" value="RURAL" type="radio"> Rural
                  <% } else if(userData[0].Area === "RURAL") {%>
                  <input name="area" value="URBAN" type="radio" required> Urban
                  <input name="area" value="RURAL" type="radio" checked> Rural
                  <% } else {%>
                  <input name="area" value="URBAN" type="radio" required> Urban
                  <input name="area" value="RURAL" type="radio"> Rural
                  <% } %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Postal Code</p>
                </div>
                <div class="col-sm-9">
                  <input name="postcode" type="number" class="form-control" placeholder="postcode"
                    value="<%= userData[0].PostalCode %>">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Caste</p>
                </div>
                <div class="col-sm-9">
                  <select class="form-control" name="caste">
                    <% if(userData[0].Caste === "GENERAL"){ %>
                    <option value="GENERAL">General</option>
                    <option value="OBC">OBC(other backward classes)</option>
                    <option value="SC">SC</option>
                    <option value="ST">ST</option>
                    <% } else if(userData[0].Caste === "OBC") {%>
                    <option value="OBC">OBC(other backward classes)</option>
                    <option value="GENERAL">General</option>
                    <option value="SC">SC</option>
                    <option value="ST">ST</option>
                    <% } else if(userData[0].Caste === "SC") {%>
                    <option value="SC">SC</option>
                    <option value="GENERAL">General</option>
                    <option value="OBC">OBC(other backward classes)</option>
                    <option value="ST">ST</option>
                    <% } else if(userData[0].Caste === "ST") {%>
                    <option value="ST">ST</option>
                    <option value="GENERAL">General</option>
                    <option value="OBC">OBC(other backward classes)</option>
                    <option value="SC">SC</option>
                    <% } else{%>
                    <option value=""></option>
                    <option value="ST">ST</option>
                    <option value="GENERAL">General</option>
                    <option value="OBC">OBC(other backward classes)</option>
                    <option value="SC">SC</option>
                    <% } %>

                  </select>
                  <!-- value="<%= userData[0].Caste %>"> -->
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Differently Abled (%)</p>
                </div>
                <div class="col-sm-9">
                  <input name="diffable" type="number" class="form-control" placeholder="0-100"
                    value="<%= userData[0].DifferentlyAbledPercentage %>">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Currently Studying? (Y/N)</p>
                </div>
                <div class="col-sm-9">
                  <select class="form-control" name="isstudent">
                    <% if(userData[0].IsStudent === "YES"){ %>
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                    <% } else if(userData[0].IsStudent === "NO") {%>
                    <option value="NO">NO</option>
                    <option value="YES">YES</option>
                    <% } else{%>
                    <option value=""></option>
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                    <% } %>
                  </select>
                  <!-- value="<%= userData[0].IsStudent %>"> -->
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Is BPL (Y/N)</p>
                </div>
                <div class="col-sm-9">
                  <select class="form-control" name="isbpl">
                    <% if(userData[0].IsBPL === "YES"){ %>
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                    <% } else if(userData[0].IsBPL === "NO") {%>
                    <option value="NO">NO</option>
                    <option value="YES">YES</option>
                    <% } else{%>
                    <option value=""></option>
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                    <% } %>
                  </select>
                  <!-- value="<%= userData[0].IsBPL %>"> -->
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Income</p>
                </div>
                <div class="col-sm-9">
                  <input name="Income" type="number" class="form-control" placeholder="enter your income"
                    value="<%= userData[0].Income %>">
                </div>
              </div>
            </div>
            <div class="mt-3 text-center">
              <button class="btn btn-primary profile-button updateProfile-saveButton" type="submit">Save
                Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</form>
<script>
  var countries = ["Abrama", "Adalaj", "Adityana", "Ahmedabad", "Ahwa", "Alang", "Alikherva", "Ambaji", "Ambaliyasan",
    "Amboli", "Amod", "Amreli", "Anand", "Anandpar", "Anandpar", "Jamnagar", "Andada", "Anjar", "Anklav",
    "Ankleshwar", "Antaliya", "Arambhada", "Arsodiya", "Atul", "Baben", "Babra", "Bagasara", "Balasinor", "Baliyasan",
    "Bansda", "Bantwa", "Bardoli", "Bareja", "Barwala", "Bavla", "Bayad", "Bechar", "Bedi", "Bhabhar", "Bhachau",
    "Bhadkodara", "Bhagal", "Bhagal", "Valsad District", "Bhalpara", "Bhanvad", "Bharuch", "Bhat", "Bhavnagar",
    "Bhayavadar", "Bhilad", "Bhiloda", "Bhuj", "Bhurivel", "Bilimora", "Bodeli", "Boriavi", "Borsad", "Botad",
    "Chaklasi", "Chalala", "Chalthan", "Chanasma", "Changodar", "Chanod", "Chhapi", "Chhapra", "Chhatral", "Chhiri",
    "Chhota Udaipur", "Chikhli", "Chorwad", "Chotila", "Dabhoi", "Dahej", "Dakor", "Damnagar", "Dediapada", "Deesa",
    "Dehari", "Dehgam", "Deodar", "Devgadbaria", "Devsar", "Dhandhuka", "Dhanera", "Dharampur", "Dhasa Vishi",
    "Dhola", "Dholka", "Dhoraji", "Dhrangadhra", "Dhrol", "Digvijaygram", "Dohad", "Dungarpur", "Dungarpur", "Dwarka",
    "Gadhada", "Gamdi", "Gandevi", "Gandhidham", "Gandhinagar", "Gariadhar", "Ghogha", "GIDC Antaliya", "GIDC Panoli",
    "GIDC Por", "GIDC Savli", "Godhra", "Gondal", "GSFC Motikhavdi", "Sikka INA", "GSFC Reliance Complex",
    "GWC Township Kovaya", "Hajira", "Halol", "Halvad", "Hansalpur", "Harij", "Himmatnagar", "Ichchhapor", "Ichhapor",
    "Idar", "Jafrabad", "Jalalpore", "Jamavala", "Jambusar", "Jamjodhpur", "Jamnagar", "Jarod", "Jasdan", "Jetalsar",
    "Jetpur", "Jetpur Navagadh", "Jhalod", "Joshipura", "Junagadh", "Kadi", "Kadodara", "Kakoshi", "Kalavad", "Kalol",
    "Kandla Kanjari", "Kanodar", "Kapadvanj", "Karamsad", "Karjan", "Kathlal", "Katpar", "Kavant", "Keshod",
    "Kevadiya", "Khambhalia", "Khambhat", "khapat", "Kharach", "Kharaghoda", "Kheda", "Khedbrahma", "Kheralu", "Kim",
    "Kodinar", "Kosamba", "Kothria", "Kutiyana", "Lathi", "Lavachha", "Lilia", "Limbdi", "Limkheda", "Limla",
    "Lodhikas", "Lunawada", "Madhapar", "Mahesana", "Mahudha", "Mahuva", "Mahuvar", "Malanka", "Maliya", "Malpur",
    "Manavadar", "Mandvi", "Surat District", "Mangrol", "Mankuva", "Mansa", "Meghraj", "Mehmedabad", "Modasa",
    "Modhera", "Morbi", "Mundra", "Nadiad", "Nalsarovar", "Nandej", "Nari", "Nasvadi", "Nava Bhildi", "Navlakhi SIR",
    "Navsari", "Ode", "Okha Port", "Orvad", "Paddhari", "Padra", "Palaj", "Palanpur", "Palej", "Palitana",
    "Panoli INA", "Parabada", "Pardi", "Parnera", "Patan", "Patdi", "Pethapur", "Petlad", "Porbandar", "Prantij",
    "Radhanpur", "Rajkot", "Rajpipla", "Rajula", "Ranavav", "Ranpur", "Rapar", "Raval", "Ravapara", "Sagbara",
    "Salaya", "Salvav", "SanandSanand GIDC", "Sanjan", "Sanjeli", "Santrampur", "Saputara", "Sarigam", "Sathamba",
    "Savarkundla", "Savli", "Sayan", "Selamba", "Shapur", "Shapur", "Rajkot District", "Shehera", "Sidhpur", "Sidsar",
    "Sihor", "Sikka", "Simar SIR", "Sojitra", "Somnath", "Songadh", "Sukhpar", "Surajkaradi", "Surat",
    "Surendranagar", "Sutrapada", "Talaja", "Talala", "Talod", "Tarsadi", "Thangadh", "Thara", "Tharad", "Thasra",
    "Ukai", "Umbergaon", "Umrala", "Umreth", "Una", "Undach", "Unjha", "Upleta", "Vadali", "Vadia", "Vadnagar",
    "Vadodara", "Vaghodia", "Valia", "Vallabhipur", "Valsad", "Vanthali", "Vapi", "Vartej", "Vasna", "Veraval",
    "Vijalpor", "Vijapur", "Vijaynagar", "Vilayat GIDC", "Viramgam", "Virpur", "Virpur", "Visavadar", "Visnagar",
    "Vyara", "Wadhwan", "Waghai", "Wankaner"
  ]


  autocomplete(document.getElementById("myInput"), countries);

  function autocomplete(inp, arr) {
    /*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    var currentFocus;
    /*execute a function when someone writes in the text field:*/
    inp.addEventListener("input", function (e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) {
        return false;
      }
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function (e) {
            /*insert the value for the autocomplete text field:*/
            inp.value = this.getElementsByTagName("input")[0].value;
            /*close the list of autocompleted values,
            (or any other open lists of autocompleted values:*/
            closeAllLists();
          });
          a.appendChild(b);
        }
      }
    });
    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener("keydown", function (e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
    });

    function addActive(x) {
      /*a function to classify an item as "active":*/
      if (!x) return false;
      /*start by removing the "active" class on all items:*/
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (x.length - 1);
      /*add class "autocomplete-active":*/
      x[currentFocus].classList.add("autocomplete-active");
    }

    function removeActive(x) {
      /*a function to remove the "active" class from all autocomplete items:*/
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
      }
    }

    function closeAllLists(elmnt) {
      /*close all autocomplete lists in the document,
      except the one passed as an argument:*/
      var x = document.getElementsByClassName("autocomplete-items");
      for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
          x[i].parentNode.removeChild(x[i]);
        }
      }
    }
    /*execute a function when someone clicks in the document:*/
    document.addEventListener("click", function (e) {
      closeAllLists(e.target);
    });
  }
</script>
<script>
  function menuToggle() {
    const toggleMenu = document.querySelector(".menu");
    toggleMenu.classList.toggle("active");
  }
</script>
<%- include('partials/footer') %>